{% extends "base.html" %}

{% block content %}


<!-- <p class="specialheading center">Contact Wall Street Arcade & Gaming Store
    <input id="emailinput" type="text" placeholder="Your email address" name="text1"> -->
<!-- <input id="readybutton" type="button" value="I'm ready!" name="Submit" onclick="validate(document.getElementsByName('text1')[0].value)"> -->
</p> -->

<p class="promocode center">Sign up for our newsletter!
    <input id="emailinput" type="text" placeholder="Your email address" name="text1">

 <!-- Button trigger modal -->
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Subscribe</button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title modalwallst" id="exampleModalLabel">Newsletter Subscription</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="modalwallst">You have subscribed to our Newsletter!</p>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Subscribe</button> -->
            </div>
          </div>
        </div>
      </div>

  <!-- <input id="readybutton" type="button" value="I'm ready!" name="Submit" onclick="validate(document.getElementsByName('text1')[0].value)">
  </p> -->


<div id="container2">

    
    <div class="specialheading3">Send us a message!
<br>

<span id="linebreaker1">     
    <!-- <img src="/static/images/spacer.png" alt=""> -->
</span>

        <p class="contactform">Name
            <input id="emailinput" type="text" placeholder="Your name" name="text1">
        
        </p>
        <p class="contactform">Subject
            <input id="emailinput" type="text" placeholder="Subject" name="text1">
        
        </p>
        <p class="contactform">Message
            <input id="emailinput" type="text" placeholder="Your message" name="text1">
        
        </p>


        <div><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            Send message</button></div>
              
              <!-- Modal -->
              <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title modalwallst" id="exampleModalLabel">Send message</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="modalwallst">Your message has been sent!</p>
                      </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                  </div>
                </div>
              </div>

        <!-- <input id="readybutton" type="button" value="Send message" name="Submit" onclick="validate(document.getElementsByName('text1')[0].value)"> -->

    </div> 
    <div class="specialheading2 address">

        Email: wall@streetarcade.com<br>
        Tel: 212-656-3000<br>
        Send us something nice:<br>
        
11 Wall St<br>
New York<br>
NY 10005<br>
USA</div> 


</div>
<span id="linebreaker1">     
    <!-- <img src="/static/images/spacer.png" alt=""> -->
</span>


{% endblock %}