{% extends "base.html" %}

{% block content %}


<p class="specialheading center">Customized Game Consoles
    <!-- <input id="emailinput" type="text" placeholder="Your email address" name="text1"> -->
<!-- <input id="readybutton" type="button" value="I'm ready!" name="Submit" onclick="validate(document.getElementsByName('text1')[0].value)"> -->
</p>

<!-- modal code severely breaks the size of my images, so only apply it to one product -->
<!-- fixed this by copying and pasting the entire entire from start to end, the one containing modal button code and the image -->

<div id="flex-container">
    
  
<div class="wallstreetarcadeimg2 center"><img src="/static/images/ps2_2.png" width="200px" height="200px" alt="">

<!-- Button trigger modal -->
<div><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add to cart</button></div>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title modalwallst" id="exampleModalLabel">Shopping cart</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="modalwallst">You have added the product<br>to your shopping cart!</p>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Subscribe</button> -->
            </div>
          </div>
        </div>
      </div>
</div> 

<div class="wallstreetarcadeimg2 center"><img src="/static/images/ps3_2.png" width="200px" height="200px" alt="">

  <!-- Button trigger modal -->
  <div><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add to cart</button></div>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title modalwallst" id="exampleModalLabel">Shopping cart</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <p class="modalwallst">You have added the product<br>to your shopping cart!</p>
                </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Subscribe</button> -->
              </div>
            </div>
          </div>
        </div>
  </div> 

  <div class="wallstreetarcadeimg2 center"><img src="/static/images/ps4.png" width="200px" height="200px" alt="">

    <!-- Button trigger modal -->
    <div><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add to cart</button></div>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title modalwallst" id="exampleModalLabel">Shopping cart</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="modalwallst">You have added the product<br>to your shopping cart!</p>
                  </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <!-- <button type="button" class="btn btn-primary">Subscribe</button> -->
                </div>
              </div>
            </div>
          </div>
    </div>  
  </div>  
  </div>  


    <div class="wallstreetarcadeimg2 center"><img src="/static/images/ps5_1.png" width="200px" height="200px" alt="">

      <!-- Button trigger modal -->
      <div><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Add to cart</button></div>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title modalwallst" id="exampleModalLabel">Shopping cart</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <p class="modalwallst">You have added the product<br>to your shopping cart!</p>
                    </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Subscribe</button> -->
                  </div>
                </div>
              </div>
            </div>
      </div>  


</div>


<div id="flex-container">
  <div class="wallstreetarcadeimg2 center"><img src="/static/images/stripes3.png" width="200px" height="200px" alt="">

    <!-- Button trigger modal -->
    <div><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add to cart</button></div>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title modalwallst" id="exampleModalLabel">Shopping cart</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="modalwallst">You have added the product<br>to your shopping cart!</p>
                  </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <!-- <button type="button" class="btn btn-primary">Subscribe</button> -->
                </div>
              </div>
            </div>
          </div>
    </div>  
    
    <div class="wallstreetarcadeimg2 center"><img src="/static/images/stripes3.png" width="200px" height="200px" alt="">

      <!-- Button trigger modal -->
      <div><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Add to cart</button></div>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title modalwallst" id="exampleModalLabel">Shopping cart</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <p class="modalwallst">You have added the product<br>to your shopping cart!</p>
                    </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Subscribe</button> -->
                  </div>
                </div>
              </div>
            </div>
      </div> 


      <div class="wallstreetarcadeimg2 center"><img src="/static/images/stripes3.png" width="200px" height="200px" alt="">

        <!-- Button trigger modal -->
        <div><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add to cart</button></div>
              
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title modalwallst" id="exampleModalLabel">Shopping cart</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="modalwallst">You have added the product<br>to your shopping cart!</p>
                      </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <!-- <button type="button" class="btn btn-primary">Subscribe</button> -->
                    </div>
                  </div>
                </div>
              </div>
        </div> 
      

        <div class="wallstreetarcadeimg2 center"><img src="/static/images/stripes3.png" width="200px" height="200px" alt="">

          <!-- Button trigger modal -->
          <div><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Add to cart</button></div>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title modalwallst" id="exampleModalLabel">Shopping cart</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <p class="modalwallst">You have added the product<br>to your shopping cart!</p>
                        </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Subscribe</button> -->
                      </div>
                    </div>
                  </div>
                </div>
          </div> 


</div>

<span id="linebreaker1">     
    <!-- <img src="/static/images/spacer.png" alt=""> -->
</span>


{% endblock %}