{% extends "base.html" %}

{% block content %}


<p class="specialheading center">Merchandise
    <!-- <input id="emailinput" type="text" placeholder="Your email address" name="text1"> -->
<!-- <input id="readybutton" type="button" value="I'm ready!" name="Submit" onclick="validate(document.getElementsByName('text1')[0].value)"> -->
</p>

<div id="flex-container">
    <div class="wallstreetarcadeimg"><img src="/static/images/stripes3.png" height="600px" width="200px" alt=""></div> 
    <div class="wallstreetarcadeimg"><img src="/static/images/stripes3.png" height="600px" width="200px" alt=""></div> 
    <div class="wallstreetarcadeimg"><img src="/static/images/stripes3.png" height="600px" width="200px" alt=""></div> 
    <div class="wallstreetarcadeimg"><img src="/static/images/stripes3.png" height="600px" width="200px" alt=""></div> 
</div>


<span id="linebreaker1">     
    <!-- <img src="/static/images/spacer.png" alt=""> -->
</span>

{% endblock %}